extends layout
block body
	.row
		.jumbotron
			form.bs-example.form-horizontal(method='POST', action='')
				h1 Change Password : 
				br
				br		
				label
				if error 
					.alert.alert-dismissable.alert-danger.login-fail
						button.close(type='button', data-dismiss='alert') &times;
						p.
							#{error}
				p Old Password :  
					input(type="password", class='control-label' name="oldPassword", placeholder='Old Password')
				label 
				p New Password : 
					input(type="password", class='control-label' name="newPassword", placeholder='New Password')
				label 
				p Confirm Password : 
					input(type="password", class='control-label' name="confirm" placeholder='Confirm')
				br
				br
				button.btn.btn-primary(type='submit' onClick='top.location.href="/change_password"') Save Changes
				&nbsp
				button.btn.btn-primary(type='button' onClick='top.location.href="/dashboard"') Go back