extends layout
block body
	ul.nav-all-left
		li
			a(href='/men/all') ALL CATEGORIES
		li
			a(href='/men/accessories') ACCESSORIES
		li
			a(href='/men/bags') BAGS
		li
			a(href='/men/clothing') CLOTHING
		li
			a(href='/men/shoes') SHOES