extends layout
block body
	ul.nav-all-left
		li
			a(href='/women/all') ALL CATEGORIES
		li
			a(href='/women/accessories') ACCESSORIES
		li
			a(href='/women/bags') BAGS
		li
			a(href='/women/clothing') CLOTHING
		li
			a(href='/women/shoes') SHOES